@import '../../../scss/_variables.scss';

.modif{
    width: 138px;
    height: 38px;
    border: solid 1px $button-BG;
    border-radius: 8px;
    .modif-content{
        display: flex;
        margin:  9px 14px;
        justify-content: space-between;
        .m{
            // width: 14px;
            // height: 14px;
            margin:auto 0px;
            
        }
        .nm{
            // width: 14px;
            // height: 14px;
            margin:auto 0px;
            opacity: 0.4;
        }
        img{
            width: 14px;
            height: 14px;
            margin: auto 
        }
        .count{
            font-size: 15px;
        }
        .p-img{
            // width: 14px;
            // height: 14px;
            margin:auto 0px;
        }
    }
}