.orderCard{
  height: 70vh;
  margin: 3vh;
}
.orderFinishedButton{
  position: absolute;
  bottom:0;
  left:0;
  width:100%;
  height: 6vh;
  border-bottom: none;
}
.orderMeta{
  height: 50vh;
  border:none;
}