.store-nav-con{
    z-index: 1;

    top:0px;
    height: 155px;
    width: 100%;

    color: black;
    display: flex;
    justify-content: space-between;
    .store-nav-store{
        margin-top: 20px;
        font-family: NotoSansCJkkr-Bold;
        font-size: 24px;
        margin-left: 36px;
        margin-bottom: 4px;
    }
    .store-nav-table{
        font-family: NotoSansCJkkr-Regular;
        font-size: 15px;
        margin-left: 36px;
        margin-bottom: 25px;
        opacity: 0.87;
    }
    .order-status-bt{
        margin-top: 18px;
        margin-right: 35px;
        img{
            width: 42px;
        }
        .order-status-text{
            text-align: center;
            color: white;
            font-size: 12px;
            opacity: 0.87;
            font-family: NotoSansCJkkr-Regular;
        }
    }
}