@import'../../scss/_variables';
.nav{
    padding-bottom: 12px;
    .store{
        width: 45px;
        height: 36px;
        font-weight: bold;
        font-size: 24px;
        color: white;
        padding-top: 100px;
        margin-left: 25px;
        margin-bottom: 8px;
    }
    .table{
        height: 24px;
        font-size: 16px;
        color:$sub-text;
        margin-left: 25px;
        margin-bottom: 12px;
    }
}