@import '../../scss/_variables.scss';
.horizontal-scroll{
    // color: black;
    .title-con{
        .title{
            color: white;
            margin-left: 25px;
            font-size: 18px;
            font-weight: bold;
        }
    }
    .content-con{
        width: 100%;
        white-space: nowrap;
        overflow-x: auto;
        .content{
            .item{
                .info{
                    font-size: 16px;
                    
                    margin-bottom: 10px;
                    .name{
                        font-weight: bold;
                    }
                    .price{
                    }
                }
                display: inline-block;
                .box{
                    background-color: rgb(53, 53, 53);
                    border-radius: 25px;
                    width: 100%;
                }
                margin: 0 5px;
                color: white;
            }
        }
    }
}
