.horizontal-scroll{
    color: black;
    .content-con{
        width: 100%;
        white-space: nowrap;
        overflow-x: auto;
        color: white;
        .content{
            .item{
                display: inline-block;
                border-radius: 20px;
                margin: 0 10px;
                background-color: rgb(53, 53, 53);
            }
        }
    }
}