.counter-con{
    .counter-content{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .counter-content-text{
            font-size: 17px;
            font-family: NotoSansCJKkr-Bold;
        }
        .counter-bt-con{
            width: 138px;
            display: flex;
            border: solid 1px black;
            border-radius: 50px;
            height: 40px;
            .counter-bt-text{
                width: 24px;
                text-align: center;
                font-size: 15px;
                font-family: NotoSansCJkkr-Regular;
            }
            img{
                width: 14px;
                margin:auto;
            }
            div{ 
                padding: 0px 14px;
                margin:auto 0px;
            }
        }
    }
}