.counter{
    .content{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .bt{
            width: 138px;
            display: flex;
            border: solid 1px black;
            border-radius: 50px;
            height: 40px;
            .text{
                width: 24px;
                text-align: center;
                font-size: 15px;
                font-family: NotoSansCJkkr-Regular;
            }
            img{
                width: 14px;
                margin:auto;
            }
            .de-img{
            }
            .in-img{
                
            }
            
        }
    }
}