.option-con{
    .title{
        font-size: 20px;

    }
    .option{
        .content{
            .title{
                font-weight: bold;
            }
            .item{
                display: flex;
                .name{

                }
                .price{

                }
            }
        }
    }

}