.option-con{
    margin-top: 304px;
    margin-left: 25px;
    margin-right: 25px;
    color: white;
    .title{
        font-size: 20px;

    }
    .option{
        .content{
            .title{
                font-weight: bold;
            }
            .item{
                display: flex;
                .name{

                }
                .price{

                }
            }
        }
    }

}