@import '../../../scss/_variables.scss';
.cfcontent{
    color: white;
    padding-bottom: 20px;
    .cf-title{
        background-color: $list-BG;
        padding-left: 25px;
        display: flex;
        align-items: center;
        height: 49px;
        font-size: 17px;
        font-weight: bold;
    }
    .cfitem{
        margin: 0 25px;
        padding-bottom: 10px;
        border-bottom: solid 2px black ;
        .cfinfo{
            padding-top: 16px;
            display: flex;
            justify-content: space-between;
            font-weight: bold;
            font-size: 16px;
            .cfname{
            }

        }
        .cfcontents{
            color: $sub-text;
            font-size: 14px;
            .cfsinfo{
                padding-top: 6px;
                margin-bottom: 6px;
                display: flex;
                justify-content: space-between;
            }

        }
        .options{
        }

    }
}