.detailnav{
    position: absolute;
    z-index: 3;
    width: 100%;
    .content{
        width: 100%;
        height: 44px;
        display: flex;
        background: linear-gradient(to bottom, #000000 -80%, rgba(0, 0, 0, 0));
        color: white;
        div{
            z-index: 4;
            flex: 1 1 30%;
            margin: auto 0px;
        }
        .back-bt{
            width: 12px;
            height: 21px;
            margin-left: 25px;
            padding: 0 10px;
        }
        .text{
            text-align: center;
            font-weight: bold;
        }
        .bucket-img{
            float: right;
            margin-right: 25px;
            width: 34px;
            height: 34px;
        }   
    }
}