@import '../../scss/_variables.scss';

.category-nav{
    width: 100%;
    white-space: nowrap;
    overflow-x: auto;
    color: black;
    .name{
        background-color: $mc-list-BG;
        .item{
            margin: 20px;
            display: inline-block;
        }
    }
}
.category{
    .list{
        .item{
            display: flex;
            margin-left: 20px;
            div{
                margin: 20px;
            }
        }
    }
}