@import '../../scss/_variables.scss';

.category-nav{
    position: sticky;
    top:0px;
    width: 100%;
    white-space: nowrap;
    overflow-x: auto;
    color: black;
    margin-top: 40px;
    .name{
        .item{
            display: inline-block;
            color: $category;
        }
        .selectedC{
            color: white;
            display: inline-block;
            padding-bottom: 4px;
            border-bottom: solid 2px white;
        }
        .category-name{
            background-color: $mc-list-BG;
            height: 44px;
            display: flex;
            justify-content: space-between;
            .name-text{
                color: white;
                margin-left: 25px;
                font-size: 14px;
                padding-top: 12px;
                font-weight: bold;
                display: flex;
                .name-desc{
                    color: white;
                    font-size: 12px;
                    opacity: 0.88;
                    
                }
            }
            
            img{
                margin-top: 18px;
                margin-right: 25px;
                width: 16px;
                height: 8px;
            }
        }
    }
}
.category{
    
    .list{
        .list-con{
            display: flex;
            height: 94px;
            align-items: center;
            .img{
                width: 70px;
                height: 70px;
                background-color: white;
                margin-left: 25px;
            }
            .item{
                color: white;
                margin-left: 15px;
                .name{
                    font-size: 15px;
                    font-weight: bold;
                }
                .description{
                    font-size: 13px;
                    color: $sub-text;
                    margin-bottom: 4px;
                }
                .price{
                    font-size: 15px;
                }
            }
        }
    }
}
.listdropdowm{
    display: none;
    transition: all .5s ease-in-out;
}