@import '../../scss/_variables.scss';
.visible{
    z-index: 4;
    color: white;
    position: fixed;
    top: 0;
    height: 44px;
    background-color: black;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 18px;
}
.buttons-con{
    margin: auto 25px;
    display: flex;
    justify-content: space-between;
    .buttons-state{
        .buttons-table{
            display: none;
        }
        .receipt-bt{
            margin-right: 10px;
            img{
                width: 48px;
                height: 39px;
            }
        }
        .bucket-img{
            width: 48px;
            height: 38px;
        }
        margin: auto 0px;
        display: flex;
    }
    .order{
        width: 120px;
        height: 44px;
        background-color: $base-color;
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        .text{
        }
    }
}
.buttons-nav{
    z-index: 4;
    top: 0;
    position: fixed;
    left: 0;
    right: 0;
    display: flex;
    height: 44px;
    justify-content: space-between;
    background-color: black;
    padding: 0 25px;
    .buttons-state{
        div{
            flex: 1 1 30%;
            margin: auto 0;
        }
        .receipt-bt{
            margin-top: 10px;
        }
        .buttons-table{
            color: white;
            font-weight: bold;
            font-size: 18px;
            text-align: center;
        }
        .bucket-img{
            float: right;
        }
        width: 100%;
        display: flex;
    }
    .order{
        display: none;
    }
}

