@import '../../scss/_variables.scss';
.detail{
    background-color: black;
    margin-bottom: 100px;
    .con{
        position: relative;
        .test{
            z-index: 2;
            height: 282px;
            width: 100%;
            background: no-repeat;
            background-size: 100%;
            background-position: top center;
        }
        .info{
            position: absolute;

            top:224px;
            left: 0;
            right: 0;
            z-index: 3;

            background-color: black;
            border-radius: 40px 40px  0 0 ;
            padding:  16px 25px;
            padding-top: 18px;
            .content{
                z-index: 1;
                color: white;

                height: 46px;
                display: flex;
                justify-content: space-between;
                .info1{
                    .name{
                        font-size: 17px;
                        font-weight: bold;
                        margin: auto 0px;
                    }
                    .desc{
                        font-size: 13px;
                        color: $sub-text;
                    }
                }
                .price{
                    font-size: 17px;
                    margin: auto 0;
                }
            }
        }
    }
}
.event-detail{
    z-index: 4;
    padding: 10px 0 10px 0px;
    color: white;
    position: fixed;
    left: 21.6%;
    right: 21.6%;
    bottom: 100px;
    width: 214px;
    border-radius: 8px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.4);
    background-color: rgba($color: #ff0000, $alpha: 0.6);
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    
}
.detail-bt{
    position: fixed;
    left: 4%;
    right: 4%;
    bottom: 20px;
    height: 7.9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .order-detail{
        width: 100%;
        height: 60px;
        .order{
            width: 100%;
            height: 60px;
            background-color: $base-color;
            border-radius: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            .text{
                font-size: 1.188rem;
            }
        }
    }
}  