@import '../../scss/_variables.scss';
.detail{
    background-color: black;
    .test{
        z-index: 2;
        position: fixed;
        top:0;
        left: 0;
        right: 0;
        height: 282px;
        width: 100%;
    }
    .info{
        position: fixed;
        top:224px;
        left: 0;
        right: 0;
        z-index: 3;

        background-color: black;
        border-radius: 40px 40px  0 0 ;
        padding:  16px 25px;
        padding-top: 18px;
        .content{
            z-index: 1;
            color: white;

            height: 46px;
            display: flex;
            justify-content: space-between;
            .info1{
                .name{
                    font-size: 17px;
                    font-family: NotoSansCJKkr-Bold;
                }
                .desc{
                    font-size: 13px;
                    font-family: NotoSansCJKkr-Regular;
                    color: $sub-text;
                }
            }
            .price{
                font-size: 17px;
                font-family: NotoSansCJKkr-Regular;
                margin: auto 0;
            }
        }
    }
}