@import '../../scss/_variables.scss';
.complete{
    color: white;
    .complete-content{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .finish-img{
            width: 303px;
            height: 160px;
            margin-top: 100px;
            margin-bottom: 40px;
        }
        .title{
            font-size: 24px;
            font-weight: bold;
            color: white;
            margin-bottom: 12px;

        }
        .ctext{
            opacity: 0.87;
            text-align: center;
            line-height: 1.71;
            font-size: 14px;
            margin-bottom: 90px;

        }
        .timer{
            font-weight: bold;
            font-size: 15px;

        }
        .back-bt{
            position: fixed;
            left: 17.3%;
            right: 17.3%;
            bottom: 20px;
            width: 65.3%;
            height: 60px;
            background-color: $base-color;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            .text{
                font-size: 1.125rem;
                font-weight: bold;
                color: white;

            }
        }
    }
}