@import '../../../scss/_variables.scss';
.options{
    .item{
        display: flex;
        font-size: 14px;
        color: $sub-text;
        .name-price{
            display: flex;
            .name-price-content{
                display: flex;
            }
            .name{

            }
            .price{
                
            }
        }
        
    }
}