@import '../../../scss/_variables.scss';
.options{
    .item-op{
        width: 100%;
        display: flex;
        font-size: 14px;
        color: $sub-text;
        white-space: nowrap;
        overflow:hidden;
        text-overflow:ellipsis;        
        .item-ca{  
            // width: 100%;
        }
        .name-price{
            width: 100%;
            display: flex;
            justify-content: space-between;
            .name-price-content{
                display: flex;
                
            }
            .name{

            }
            .price{
                
            }
        }
        
    }
}