.App{
    
    background-color:white;
}
body{
    
    margin: 0px;
}
.contianer-info{
    height: 160px;
    background-color: #dadada;
}
.order-bt{


    width: 320px;
    height: 76px;
    background-color: #ff1b6d;
    border: 0px;
    border-radius: 38px;
    color: white;
    font-weight: bold;
    font-size: 26pt;
    margin: 10px;
    

}
.container-order{
    display: flex;
    justify-content: center;
    position: sticky;
    
}
.order-bt{
    border: 0px;
    border-radius: 38px;
    background-color:  #ff1b6d;
    margin: 10px;

}
.menu-card{

    margin : 10px;
    border: 0px;
    display: flex;
    flex-direction: column;
    
   
}
