.st-con{
   display: flex;
   flex-direction: column;
  
   align-items: center;
   
}
.st-table{

    display: flex;
    flex-direction: column;

}
.st-t-bt{

    width: 100px;
    height: 50px;

    border:10px;
    margin:10px;

    font-size: 28px;
    background-color: #ff1b6d;
    border-radius: 38px;


}