body{
    @import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);

    font-family: "Noto Sans KR", sans-serif !important;
    background-color: black;
    margin:0px;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    ::-webkit-scrollbar {
        display: none; /* Chrome, Safari, Opera*/
    }
    background-color: black;
}
a {
    text-decoration: none;
    :link{
        color: black;
    }
    :visited{
        color: black;
    }
    :hover{
        color: black;
    }
    :active{
        color: black;
    }
}