@import '../scss/mixin';
@include mobile {
}
@include tablet {
}
@include desktop {
}
body{
    margin:0px;
    font-family: NotoSansCJkkr-Regular;
    scrollbar-width: none;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    ::-webkit-scrollbar {
        display: none; /* Chrome, Safari, Opera*/
    }
    background-color: black;
}
Link{
    text-decoration: none;
}
.menulist-nav{
    z-index: 2;
    position: fixed;
    top:104px;
    width: 100%;
    background-color: white;
    height: 56px;
    border-radius: 40px 40px 0px 0px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
    .menulist-bts-con{
        font-size: 14px;
        margin-bottom: 16px;
        display: flex;
        flex-direction: row;
        padding-left:29px;
        margin-top: 20px;
        font-size: 14px;
        font-family: NotoSansCJkkr-Bold;
        color: black;
        .text{
            margin:0 6px;
            div{
            }
        }
        .selected{
            color: #ff1b6d;
            margin:0 6px;
            div{
                border-bottom: solid 2px #ff1b6d;
                padding-bottom: 4px;
            }
        }
    }
    .bucket-img{
        padding-top:12px;
    }
}
.bt{
    color: white;
}
.menulist-content{
    z-index: 4;
}
.store-nav-con{
    z-index: 1;

    top:0px;
    height: 155px;
    width: 100%;
    background-color: black;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    .store-nav-store{
        margin-top: 20px;
        font-family: NotoSansCJkkr-Bold;
        font-size: 24px;
        margin-left: 36px;
        margin-bottom: 4px;
    }
    .store-nav-table{
        font-family: NotoSansCJkkr-Regular;
        font-size: 15px;
        margin-left: 36px;
        margin-bottom: 25px;
        opacity: 0.87;
    }
    .order-status-bt{
        margin-top: 18px;
        margin-right: 35px;
        img{
            width: 42px;
        }
        .order-status-text{
            text-align: center;
            color: white;
            font-size: 12px;
            opacity: 0.87;
            font-family: NotoSansCJkkr-Regular;
        }
    }
}
.main-content{
    background-color: white;
    margin-top: 169px;
    z-index: 3;
    
}
.main-order-bt{
    position: fixed;
    bottom: 20px;
    right: 15px;
    left: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $base-color;
    font-family: NotoSansCJkkr-Bold;
    color: #ffffff; 
    border-radius: 38px;
    border: none;
    height: 60px;
    .main-order-bt-text{  
        color: white;
        font-size: 19px;
    }
}
.orderstatus-con{
    .orderstatus-nav-con{
        z-index: 3;
        display: flex;
        position: fixed;
        width: auto;
        flex-wrap: wrap;
        top: 0px;
        left: 0px;
        right:0px;
        height: 22px;
        padding-top: 11px;
        padding-bottom: 11px;
        padding-right: 36px;
        padding-left: 36px;
        background-color: white;
        .orderstatus-nav-text{
            text-align: center;
            padding-right: 9px;
            font-size: 18px;
            font-family: NotoSansCJkkr-Bold;
            margin: 0 auto;
        }
    }
    .orderstatus-state-con{
        z-index: 2;
        display: flex;
        position: fixed;
        top: 44px;
        left: 0px;
        right: 0px;
        padding-top: 28px;
        padding-bottom: 28px;
        margin: 0px 15px;
        align-items: flex-end;
        justify-content: center;
        background-color: white;
        .orderstatus-line{
            z-index: -1;
            position: fixed;
            left: 86px;
            right: 86px;
            top: 155px;
            height: 2px;
            background-color: #ff80ad;
        }
        .orderstatus-state-complete{
            text-align: center;
            width: 72px;
            margin-right: 60px;
            .orderstatus-state-complete-circle-1{
                width: 72px;
                height: 72px;
                background-color: $base-color;
                border-radius: 50px;
                margin-bottom: 8px;
                margin-right: 84px;
                img{
                    width: 36px;
                    margin-top: 18px;
                }
            }
            .orderstatus-state-complete-circle-2{
                width: 8px;
                height: 8px;
                border-radius: 50px;
                background-color: $base-color;
                margin-left: 32px;
                margin-bottom: 8px;
            }
            .orderstatus-state-complete-text{
                font-size: 15px;
                font-family: NotoSansCJkkr-Bold;
                // //margin-left:11px;
            }
        }
        .orderstatus-state-reception {
            text-align: center;
            width: 72px;
            .circle1 {
                width: 24px;
                height: 24px;
                background-color: #ff80ad;
                border-radius: 50px;
                // margin: 8px auto;
                margin: 0 auto;
            }
            .y1 {
                width: 72px;
                height: 72px;
                background-color: $base-color;
                border-radius: 50px;
                margin-bottom: 8px;
                img{
                    width: 36px;
                    margin-top: 18px;
                }
            }
            .circle2 {
                width: 8px;
                height: 8px;
                border-radius: 50px;
                background-color: #ff80ad;
                margin: auto;
                margin-bottom: 8px;
                margin: 8px auto;
            }
            .y2 {
                width: 8px;
                height: 8px;
                border-radius: 50px;
                background-color: $base-color;
                margin-left: 32px;
                margin-bottom: 8px;
            }
            .text {
                font-size: 15px;
                font-family: NotoSansCJkkr-Bold;
                opacity: 0.54;
            }
            .ytext {
                opacity: 1;
                margin: auto;
            }
        }
    }
    .orderstatus-state-info-con{
        z-index: 3;
        left: 0px;
        right: 0px;
        top: 218px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: white;
        margin: 0 35px;
        padding-top:218px;
        padding-bottom: 20px;
        background-image: linear-gradient(to right, black 33%, rgba(255,255,255,0) 0%);
        background-position: bottom;
        background-size: 10px 1px;
        background-repeat: repeat-x;
        .orderstatus-state-info-store{
            padding-top:20px;
            font-size: 24px;
            font-family: NotoSansCJkkr-Bold;
        }
        .orderstatus-state-info-table{
            margin-top: 4px;
            font-size: 15px;
            font-family: NotoSansCJkkr-Regular;
            opacity: 0.68;
        }
        .orderstatus-state-info-totalprice{
            margin-top: 10px;
            font-size: 24px;
            font-family: NotoSansCJkkr-Regular;
            line-height: 1.5;
            color: $base-color;
        }
    }
    .orderstatus-content-con{
        z-index: 1;
        margin-bottom: 12px;
        margin-left: 15px;
        margin-right: 15px;
        .orderstatus-content{
            margin-top: 12px;
            margin-left: 21px;
            margin-right: 21px;
            .orderstatus-content-title{
                display: flex;
                justify-content: space-between;
            }
            .orderstatus-content-sub{ 
                display: flex;
                justify-content: space-between;
                font-size: 13px;
                opacity: 0.87;
                margin-bottom: 6px;
            }
        }
        .line{
            margin: 12px 21px;
        }
    }
}
.ready-img{
    display: flex;
    justify-content: center;
    align-items: center;
    .ready-content{
        img{
            margin-top: 90px;
        }
        .ready-text{
            margin-top: 28px;
            font-size: 17px;
            font-family: NotoSansCJkkr-Bold;
        }
    }
}
.item-con{
    .item{
        display: flex;
        justify-content:space-between;
        margin: 16px;
        color: black;
        margin-left: 35px;
        margin-right: 35px;
        .item-content{
            .item-menu{
                font-family: NotoSansCJkkr-Bold;
                font-size: 16px;
                margin-bottom: 1px;
            }
            .item-speci{
                font-size: 11px;
                opacity: 0.68;
                font-family: NotoSansCJkkr-Regular;
                margin-bottom: 6px;
            }
            .item-price{
                margin-top: 8px;
                font-family: NotoSansCJkkr-Regular;
                font-size: 16px;
            }
        }
        .item-img{
            width: 64px;
            height: 64px;
            margin-left: 16px;
        }
    }
    .line{
        margin: 0px 35px; 
    }
}
.line{
    width: auto;
    height: 2px;
    background-color: black;
    opacity: 0.2;
}
.bucket-nav{
    display: flex;
    position: fixed;
    width: auto;
    flex-wrap: wrap;
    top: 0px;
    left: 0px;
    right:0px;
    height: 22px;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-right: 36px;
    padding-left: 36px;
    background-color: white;
    z-index: 3;
    div{
        flex: 1 1 30%;
    }
    .div1{
        text-align: left;
        margin-top: 2px;
    }
    .div2{
        text-align: center;
        font-size: 18px;
        font-family: NotoSansCJkkr-Bold;
        margin: 0 auto;
    }
    .div3{
        text-align: right;
        margin-top: 2px;
        opacity:0.54;
        font-size:13px;
    }
}
.bucket{
    .bucket-con{
        z-index: 3;
        top: 44px;
        position: fixed;
        left: 0px;
        right: 0px;
        display: flex;
        background-color: white;
        align-items: center;
        justify-content: center;
        padding-bottom: 38px;
        padding-top: 9px;
        .bucket-info-con{
            .bucket-info{
                text-align: center;
                .bucket-info-store{
                    font-size: 24px;
                    font-family: NotoSansCJkkr-Bold;
                    margin-bottom: 4px;
                }
                .bucket-info-table{
                    font-size: 15px;
                    opacity: 0.68;                
                    font-family: NotoSansCJkkr-Regular;
                    margin-bottom: 10px;   
                }
                .bucket-info-price{
                    font-size: 24px;
                    font-family: NotoSansCJkkr-Regular;
                    color: $base-color;
                }
            }
        }
    }
    .bucket-content-con{
        margin-top:214px;
        .ready-bucket-con{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            img{
                width: 133px;
                padding-right: 10px;
            }
            .ready-bucket-text{
                margin-top: 17px;
                font-family: NotoSansCJkkr-Bold;
                font-size: 17px;
            }
        }
        .bucket-item-con{
            z-index: 1;
            margin-top: 12px;
            .bucket-item{
                margin-top: 12px;
                margin-left: 36px;
                margin-right: 36px;
                .line{
                    margin: 12px 0px;
                }
                .bucket-item-info{
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 5px;
                    font-size: 16px;
                    font-family: NotoSansCJkkr-Bold;
                }
                .bucket-item-count{
                    display: flex;
                    justify-content: space-between;
                    font-size: 13px;
                    font-family: NotoSansCJkkr-Regular;
                    opacity: 0.87;
                    color: black;
                    margin-bottom: 6px;
                }
                .modif-bucket{
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 14px;
                    .modif-bucket-delete-con{
                        font-size: 13px;
                        opacity: 0.68;
                        display: flex;
                        margin: auto 0;
                        img{
                            width: 12px;
                            height: 12.5px;
                            margin: auto 0px;
                        }
                        div{
                            margin: auto 8px;
                        }
                    }
                    .modif-bucket-counter-con{
                        display: flex;
                        border: solid 1px black;
                        border-radius: 50px;
                        height: 40px;
                        width: 138px;
                        .modif-bucket-counter{
                            display: flex;
                            margin: 0 auto;
                            .count{
                                width: 24px;
                                text-align: center;
                                font-size: 15px;
                                font-family: NotoSansCJkkr-Regular;
                            }
                            div{ 
                                padding: 0px 14px;
                                margin:auto 0px;
                            }
                            img{
                                width: 14px;
                            }
                        }
                    }
                }
            }
        }
    }
    .back-bt{
        text-align: center;
        div{
            padding-top: 17px;
            color: white;
            font-size: 17px;
            font-family: NotoSansCJkkr-Bold;
        }
        position: fixed;
        left: 15px;
        right: 15px;
        bottom: 20px;
        height: 60px;
        border-radius: 50px;
        background-color: $base-color;
    }
}
.bucket-block{
    width: 37px;
    height: 37px;
    margin-right: 36px;
    background-color: transparent;
}
.addmenu-bt{
    position: fixed;
    left: 24px;
    width: 153px;
    bottom: 20px;
    border: solid 1px $base-color;
    border-radius: 30px;
    color: $base-color;
    height: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    font-family: NotoSansCJkkr-Bold;
    font-size: 18px;
}
.counter-con{
    .counter-content{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .counter-content-text{
            font-size: 17px;
            font-family: NotoSansCJKkr-Bold;
        }
        .counter-bt-con{
            width: 138px;
            display: flex;
            border: solid 1px black;
            border-radius: 50px;
            height: 40px;
            .counter-bt-text{
                width: 24px;
                text-align: center;
                font-size: 15px;
                font-family: NotoSansCJkkr-Regular;
            }
            img{
                width: 14px;
                margin:auto;
            }
            div{ 
                padding: 0px 14px;
                margin:auto 0px;
            }
        }
    }
}
.middle{
    height: 10px;
    background-color: #e6e6e6;
}
.order-bt-con{
    display: flex;
    justify-content:space-between;
    margin-left: 15px;
    margin-right: 15px;
    .order-bt-cancle{
        position: fixed;
        bottom: 20px;
        left: 15px;
        display: flex;
        height: 58px;
        border: solid 1px $base-color;
        width: 82px;
        border-radius: 38px;
        justify-content: center;
        align-items: center;
        color: $base-color;
        font-family: NotoSansCJkkr-Bold;
        font-size: 17px;
        background-color: white;
    }
    .order-bt{
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        right: 15px;
        bottom: 20px;
        width: 245px;
        border-radius: 50px;
        color: black;
        height: 60px;
        background-color: $base-color;
        color: white;
        font-family: NotoSansCJkkr-Bold;
        font-size: 17px;
    }
}
.orderlist-con{
    margin-top: 40px;
    .orderlist-info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .orderlist-info-store{
            margin-top: 0px;
            margin-bottom: 4px;
            font-family: NotoSansCJkkr-Bold;
            font-size: 24px;
        }
        .orderlist-info-table{
            margin-top: 0px;
            margin-bottom: 10px;
            font-family: NotoSansCJkkr-Regular;
            font-size: 15px;
            opacity: 0.68;
        }
        .orderlist-info-price{
            margin-top: 0px;
            margin-bottom: 7px;
            font-family: NotoSansCJkkr-Regular;
            font-size: 24px;
            color: $base-color;
        }
    }
    .orderlist-content-con{
        margin-bottom: 98px;

        .orderlist-content{
            margin-left: 35px;
            margin-right: 35px;
            margin-top: 13px;
            margin-bottom: 13px;
            .orderlist-content-info-con{
                display: flex;
                justify-content: space-between;
                margin-bottom: 5px;
                font-size: 15px;
            }
            .orderlist-menu-con{
                .orderlist-menu{
                    margin-top: 0px;
                    margin-bottom: 5px;
                    display: flex;
                    justify-content: space-between;
                    font-size: 11px;
                    opacity: 0.87;
                }
            }
        }
        .line{
            margin: 0 35px;
        }
    }
}
.moremenulist-con{
    font-size: 11px;
    .moremenulist-content-con{
        display: flex;
        justify-content: space-between;
        margin-bottom: 6px;
        .moremenulist-content-menu{}
        .moremenulist-content-price{}  
    }  
}
.detail{
    z-index: 2;
    background-color:white;
    .detail-nav{
        z-index: 3;
        position: fixed;
        top:104px;
        width: 100%;
        background-color: white;
        height: 54px;
        border-radius: 40px 40px 0px 0px;
        .detail-nav-content{
            display: flex;
            justify-content:space-between;
            margin-top: 10px;
            .back-bt{
                margin-left: 15px;
                padding: 8px 20px;
                width: 12px;
                height: 21px;
            }
            .bucket-img{
                padding-top: 2px;
            }
            .detail-nav-content-text{
                margin-left: 6px;
                margin-top: 4px;
                margin-bottom: 4px;
                font-family: NotoSansCJkkr-Bold;
                font-size: 18px;
            }
        }
    }
    .detail-con{
        z-index: 3;
        margin-top: 171px;
        .detail-content-con{
            margin-left: 35px;
            margin-right: 35px;
            .line{
                margin: 16px 0;
            }
            .detail-info-con{
                display: flex;
                justify-content: space-between;
                .detail-info{
                    .detail-info-menu{
                        font-family: NotoSansCJkkr-Bold;
                        font-size: 17px;
                    }
                    .detail-info-sp{
                        font-size: 11px;
                        font-family: NotoSansCJKkr-Regular;
                        opacity: 0.68;
                    }
                }
            }
            .detail-addmenu{
                font-size: 17px;
                font-family: NotoSansCJkkr-Bold;
            }
            .detail-totalprice-con{
                display: flex;
                justify-content: space-between;
                font-size: 17px;
                font-family: NotoSansCJkkr-Bold;
                .detail-totalprice-text{  
                }
                .detail-totalprice-price{
                }
            }
            .checkbox-con{
                .checkbox-item-con{
                    display: flex;
                    justify-content: space-between;
                    padding: 15px 0px;
                    font-size: 16px;
                    .info{
                        display: flex;
                        img{
                            width: 24px;
                            height: 24px;
                            margin-right: 8px;
                            margin-top: 3px;
                        }
                    }
                    .checkbox-item{
                        display: flex;
                        input{
                            margin: 0px;
                            margin-top:9px;
                            margin-right: 7px;
                        }
                        div{
                            margin: auto 0px;
                            font-family: NotoSansCJKkr-Regular;
                        }
                    }
                }   
            }
            .detail-bt-con{
                .bt{
                    .add{
                        position: fixed;
                        right: 24px;
                        width: 155px;
                        height: 60px;
                        bottom: 20px;
                        background-color: $base-color;
                        border-radius: 30px;
                        color:white;
                        text-align: center;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-family: NotoSansCJkkr-Bold;
                        font-size: 19px;
                    }
                    position: fixed;
                    right: 24px;
                    width: 155px;
                    height: 60px;
                    bottom: 20px;
                    background-color: $base-color;
                    border-radius: 30px;
                    color:white;
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-family: NotoSansCJkkr-Bold;
                    font-size: 19px;
                }
            }
        }
    }
}
.complete-con{
    display: flex;
    justify-content: center;
    align-items: center;
    .complete-conetent{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        img{
            width: 303px;
            margin-top: 100px;
            margin-bottom: 40px;
        }
        .complete-content-text{
            margin-bottom: 12px;
            font-size: 24px;
            font-family: NotoSansCJkkr-Bold;

        }
        .complete-content-text-2{
            text-align: center;
            line-height: 1.85;
            font-family: NotoSansCJkkr-Regular;
        }
        .complete-content-timer{
            margin-top: 89px;
            font-size: 15px;
            color: $base-color;
            font-family: NotoSansCJkkr-Bold;
        }
        .back-bt{
            text-align: center;
            div{
                padding-top: 17px;
                color: white;
                font-size: 17px;
                font-family: NotoSansCJkkr-Bold;
            }
            position: fixed; 
            left: 15px;
            right: 15px;
            bottom: 20px;
            height: 60px;
            border-radius: 50px;
            background-color: $base-color;
        }
    }
}
.popup-con{
    z-index: 5;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(0,0,0, 0.5);
    .popup-inner-con{
        border-radius: 20px;
        position: absolute;
        left: 0px;
        right: 0px;
        top: 25%;
        bottom: 25%;
        margin: auto;
        background: white;
        width: 302px;
        height: 184px;
        .popup-title{
            font-size: 19px;
            margin-top: 24px;
            text-align: center;
            margin-bottom: 12px;
        }
        .popup-content{
            text-align: center;
            margin:  0px 64px;
            font-size: 15px;
            font-family: NotoSansCJKkr-Regular;
            margin-bottom: 34px;
        }
        .popup-bt-con{
            display: flex;
            .popup-bt-cancle{
                width: 112px;
                height: 28px;
                border-radius: 0 0 0 20px;
                background-color: #cccccc;
                font-size: 18px;
                color: #525252;
                font-family: NotoSansCJKkr-Bold;
                text-align: center;
                padding: 10px 39px; 
            }
            .popup-bt-delete{
                width: 190px;
                height: 28px;
                border-radius: 0 0 20px 0;
                background-color: $base-color;
                color: white;
                font-size: 18px;
                font-family: NotoSansCJKkr-Bold;
                text-align: center;
                padding: 10px 39px; 
            }
        }
    }
}
.horizontal-scroll{
    background-color: black;
    color: white;
    .content-con{
        width: 100%;
        white-space: nowrap;
        overflow-x: auto;
        color: white;
        .content{
            .item{
                display: inline-block;
                width: 150px;
                height: 200px;
                border-radius: 20px;
                margin: 0 10px;
                background-color: rgb(53, 53, 53);
            }
        }
    }
}
.bucket-img{
    margin-right: 35px;
    width: 40px;
}
.cancleorder-popover{
    z-index: 4;
}
.block{
    height: 100px;
    background-color: black;
}
a {
    text-decoration: none;
    :link{
        color: black;
    }
    :visited{
        color: black;

    }
    :hover{
        color: black;
    }
    :active{
        color: black;
    }
}
footer{
    background-color: white;
}

